image: node:8

variables:
  GIT_COMMITTER_NAME: stardust
  GIT_COMMITTER_EMAIL: stardust@ultimaker.com
  GIT_AUTHOR_NAME: stardust
  GIT_AUTHOR_EMAIL: stardust@ultimaker.com

stages:
  - test
  - deploy

before_script:
  - yarn install

test:
  stage: test
  script:
    - npm run lint
  except:
    - master

publish:
  stage: deploy
  script:
    - npm config set '//registry.npmjs.org/:_authToken' "${NPM_TOKEN}"
    - npm --unsafe-perm --access public publish
  only:
    - tags
